<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MELIChallenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34CCA10825EC41B1004A1FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34CCA11E25EC41B2004A1FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34CCA12925EC41B2004A1FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
